.nav {
    background-color: #3f3b4c; /* dark grey */
    height: 60px;
    display: flex;
    justify-content: flex-start; /* aligns items to the left */
    align-items: center;
    padding: 0 10px;
}

.nav img {
    height: 50px;
}

.nav a {
    color: #8c70bc; /* link text color */
    background-color: #3b2a5a;
    text-decoration: none;
    margin: 0 25px; /* adjust this value to increase or decrease the distance between the links */
    padding: 10px; /* add padding to increase the overall size of the link */
    border: 2px solid #8c70bc; /* add border around the link, you can change color as per your requirement */
    font-size: 20px; /* adjust the font size of the link text */
}

.nav .links {
    display: flex;
    
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}